<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>機器登録</title>
    <th:block th:replace="~{common/scripts}"></th:block>
  </head>

  <body>
    <header th:replace="~{common/header}">Header</header>
    <div class="container">
      <h2 class="title">機器登録</h2>
      <div class="container mx-auto" style="width: 400px">
        <!--  alert message box-->
        <div
          th:if="${message}"
          th:class="'message-container alert ' + ${alertType}">
          <span th:text="${message}"></span>
        </div>
        <div th:if="${validationErrors}">
        	<ul class="alert alert-danger" >
            	<li th:each="error : ${validationErrors}" th:text="${error}"></li>
        	</ul>
    	</div>
        <form th:action="@{/addDevice}" th:object="${deviceForm}" method="post">
          <div class="form-label-group mb-3">
            <label for="serial_number">
              資産番号
              <span style="color: red">*</span>
            </label>
            <input
              type="text"
              id="serial_number"
              name="serial_number"
              class="form-control"
              th:field="*{serial_number}" />
              
          </div>
          <div class="form-label-group mb-3">
            <label for="maker">メーカー</label>
            <input type="text" id="maker" name="maker" class="form-control" th:field="*{maker}" />
          </div>
          <div class="form-label-group mb-3">
            <label for="operating_system">OS</label>
            <input
              type="text"
              id="operating_system"
              name="operating_system"
              class="form-control" />
          </div>
          <div class="form-label-group mb-3">
            <label for="memory">メモリ</label>
            <select name="memory" id="memory" class="form-control form-select">
              <option selected value>-- select an option --</option>
              <option value="4">4GB</option>
              <option value="8">8GB</option>
              <option value="16">16GB</option>
              <option value="32">32GB</option>
            </select>
          </div>
          <div class="form-label-group mb-3">
            <label for="capacity">容量</label>
            <select
              name="capacity"
              id="capacity"
              class="form-control form-select">
              <option selected value>-- select an option --</option>
              <option value="256">256GB</option>
              <option value="512">512GB</option>
              <option value="1024">1TB</option>
              <option value="2048">2TB</option>
            </select>
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label" for="gpu">グラフィックボード</label>
            <input
              type="checkbox"
              id="gpu"
              name="gpu"
              class="form-check-input"
              th:checked="${gpu}" />
          </div>

          <div class="form-label-group mb-3">
            <label for="location">保管場所</label>
            <input
              type="text"
              id="location"
              name="location"
              class="form-control" />
          </div>
          <div class="form-label-group mb-3">
            <label for="lease_start_date">リース開始日</label>
            <input
              type="date"
              id="lease_start_date"
              name="lease_start_date"
              class="form-control" />
          </div>
          <div class="form-label-group mb-3">
            <label for="lease_end_date">リース期限日</label>
            <input
              type="date"
              id="lease_end_date"
              name="lease_end_date"
              class="form-control" />
          </div>
          <div class="form-label-group mb-3">
            <label for="inventory_date">棚卸日</label>
            <input
              type="date"
              id="inventory_date"
              name="inventory_date"
              class="form-control" />
          </div>
          <div class="form-label-group mb-3">
            <label for="info">備考</label>
            <textarea
              type="text"
              id="info"
              name="info"
              class="form-control"
              rows="3"
              height="100%"></textarea>
          </div>

          <div class="form-group mb-3 text-center">
            <a th:href="@{/device_list}" class="btn btn-outline-primary">
              戻る
            </a>
            <input type="submit" value="確定" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
