<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>機器一覧</title>
    <span th:replace="~{common/scripts}"></span>
  </head>

  <body>
    <header th:replace="~{common/header}">Header</header>
    <div class="container">
      <h2 class="title">機器一覧</h2>
      <div class="register-button-container">
        <a th:href="@{/device_register}">
          <button
            type="button"
            id=""
            class="btn btn-primary btn-sm top-right-button">
            機器登録
          </button>
        </a>
      </div>
      <div class="table-container">
        <table class="table table-striped">
          <thead class="table-primary">
            <tr>
              <th scope="col"></th>
              <th scope="col">資産番号</th>
              <th scope="col">メーカー</th>
              <th scope="col">OS</th>
              <th scope="col">GPU</th>
              <th scope="col">空き</th>
              <th scope="col">保管場所</th>
              <th scope="col">故障状況</th>
              <th scope="col">詳細</th>
            </tr>
          </thead>
          <tbody class="table-striped">
            <tr th:each="device : ${devices}">
              <td>
                <span th:if="${device.available}">
                  <a th:href="@{/rental_register(id=${device.serial_number})}">
                    <button type="button" class="btn btn-primary btn-sm">
                      貸出
                    </button>
                  </a>
                </span>
                <span th:unless="${device.available}">
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    disabled>
                    貸出
                  </button>
                </span>
              </td>
              <td th:text="${device.serial_number}"></td>
              <td th:text="${device.maker}"></td>
              <td th:text="${device.operating_system}"></td>
              <td>
                <input type="checkbox" class="form-check-input" disabled th:checked="${device.gpu}" />
              </td>
              <td>
                <img
                  th:if="${device.available}"
                  th:src="@{/check.png}"
                  alt="Image 1"
                  width="30"
                  height="30" />
                <img
                  th:unless="${device.available}"
                  th:src="@{/minus.png}"
                  alt="Image 2"
                  width="30"
                  height="30" />
              </td>
              <td th:text="${device.location}"></td>
              <td><img
                  th:if="${device.malfunction}"
                  th:src="@{/wrench.png}"
                  alt="Image 3"
                  width="30"
                  height="30" /></td>
              <td>
                <a th:href="@{/device_info(id=${device.serial_number})}">
                  <button type="button" class="btn btn-outline-primary btn-sm">
                    詳細
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
