<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>貸出登録</title>
    <th:block th:replace="~{common/scripts}"></th:block>
  </head>

  <body>
    <header th:replace="~{common/header}">Header</header>
    <div class="container">
      <h2 class="title">貸出登録</h2>
      <div class="container mx-auto" style="width: 400px">
      	<div th:if="${validationErrors}">
        	<ul class="alert alert-danger" >
            	<li th:each="error : ${validationErrors}" th:text="${error}"></li>
        	</ul>
    	</div>
        <form action="addRental" method="post">
          <div class="form-label-group mb-3">
            <label for="name">資産番号: </label>
            <span th:text="${serial_number}"></span>
          </div>
          <input
            type="hidden"
            name="serial_number"
            th:value="${serial_number}" />
          <div class="form-label-group mb-3">
            <label for="employee_no">社員番号</label>
            <select
              name="employee_no"
              id="employee_no"
              class="form-control form-select">
              <option selected value>-- select an option --</option>
              <option th:each="user : ${users}" th:value="${employee_no}">
                <span th:text="${user.employee_no} + ' ' + ${user.name}"></span>
              </option>
            </select>
          </div>
          <div class="form-label-group mb-3">
            <label for="rental_date">貸出日</label>
            <input
              type="date"
              id="rental_date"
              name="rental_date"
              class="form-control" />
          </div>
          <div class="form-label-group mb-3">
            <label for="return_date">返却予定日</label>
            <input
              type="date"
              id="return_date"
              name="return_date"
              class="form-control" />
          </div>
          <div class="form-label-group mb-5">
            <label for="info">備考欄</label>
            <input type="text" id="info" name="info" class="form-control" />
          </div>

          <div class="form-group mb-3 text-center">
            <a th:href="@{/device_list}" class="btn btn-outline-primary">
              戻る
            </a>
            <input type="submit" value="確定" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
