<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>社員編集</title>
  </head>

  <body>
    <header th:replace="~{common/header}">Header</header>
    <h1>社員編集</h1>
  </body>
  
  <form th:action="@{/editUser}" th:object="${userForm}" method="post">
      <div class="form-label-group">
        <label for="employee_no">社員番号</label>
        <span
          id="serial_number"
          name="serial_number"
          class="form-control"
          th:text="${user.employee_no}"></span>
        <input
          type="hidden"
          name="employee_no"
          th:value="${user.employee_no}" />
      </div>

      <div class="form-label-group">
        <label for="name">氏名</label>
        <input type="text" id="name" name="name" class="form-control" th:value="${user.name}"/>
      </div>

      <div class="form-label-group">
        <label for="name_kana">氏名（カタカナ）</label>
        <input
          type="text"
          id="name_kana"
          name="name_kana"
          class="form-control"
          th:value="${user.name_kana}" />
      </div>

      <div class="form-label-group">
        <label for="department">所属部署</label>
        <input
          type="text"
          id="department"
          name="department"
          class="form-control"
          th:value="${user.department}" />
      </div>

      <div class="form-label-group">
        <label for="tel_no">電話番号</label>
        <input type="text" id="tel_no" name="tel_no" class="form-control" th:value="${user.tel_no}" />
      </div>

      <div class="form-label-group">
        <label for="mail_address">メールアドレス</label>
        <input
          type="text"
          id="mail_address"
          name="mail_address"
          class="form-control"
          th:value="${user.mail_address}" />
      </div>

      <div class="form-label-group">
        <label for="age">年齢</label>
        <input type="text" id="age" name="age" class="form-control" th:value="${user.age}"/>
      </div>

      <div class="form-label-group">
        <label for="gender">性別:</label>
        <input type="radio" id="radioA" name="gender" value="0" th:checked="${user.gender == '0'}"/>
        <label for="radioA">男</label>
        <input type="radio" id="radioB" name="gender" value="1" th:checked="${user.gender == '1'}"/>
        <label for="radioB">女</label>
      </div>

      <div class="form-label-group">
        <label for="position">役職</label>
        <input type="text" id="position" name="position" class="form-control" th:value="${user.position}"/>
      </div>

      <div>
        退職日
        <input
          type="date"
          id="retire_date"
          name="retire_date"
          class="form-control"
          th:value="${user.retire_date}" />
      </div>

      <div class="form-label-group">
        <label for="account_level">権限レベル</label>
          <input type="radio" id="radioA" name="account_level" value="管理者" th:checked="${user.account_level == '管理者'}"/>
          <label for="radioA">管理者</label>
          <input type="radio" id="radioB" name="account_level" value="利用者" th:checked="${user.account_level == '利用者'}"/>
          <label for="radioB">利用者</label>
        </div>
      </div>

      <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
      </p>
    </form>
</html>
