<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>社員詳細</title>
</head>

<body>
  <header th:replace="~{common/header}">Header</header>
  <h1>社員詳細</h1>

  <div>
    社員番号
    <span th:text="${user.employee_no}"></span>
  </div>
  <div>
    氏名
    <span th:text="${user.name}"></span>
  </div>
  <div>
    氏名カタカナ
    <span th:text="${user.name_kana}"></span>
  </div>
  <div>
    所属部署
    <span th:text="${user.department}"></span>
  </div>
  <div>
    電話番号
    <span th:text="${user.tel_no}"></span>
  </div>
  <div>
    メールアドレス
    <span th:text="${user.mail_address}"></span>
  </div>
  <div>
    年齢
    <span th:text="${user.age}"></span>
  </div>
  <div>
    性別
    <span th:text="${user.gender}"></span>
  </div>
  <div>
    役職
    <span th:text="${user.position}"></span>
  </div>
  <div>
    登録日
    <span th:text="${user.register_date}"></span>
  </div>
  <div>
    更新日
    <span th:text="${user.update_date}"></span>
  </div>
  <div>
    退職日
    <span th:text="${user.retire_date}"></span>
  </div>
  <div>
    アカウント権限
    <span th:text="${user.account_level}"></span>
  </div>

</body>

</html>