<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>user list</title>
    <span th:replace="~{common/scripts}"></span>
  </head>
  <body>
    <header th:replace="~{common/header}">Header</header>
    <h1>社員一覧</h1>
    <div class="register-button-container">
      <a href="./user_register">
        <button
          type="button"
          id=""
          class="btn btn-primary btn-sm top-right-button">
          社員登録
        </button>
      </a>
    </div>
    <table>
      <tr>
        <th>社員番号</th>
        <th>社員名</th>
        <th>部署</th>
        <th>役職</th>
        <th>メールアドレス</th>
        <th>登録日</th>
        <th>更新日</th>
        <th>詳細</th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.employee_no}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.department}"></td>
        <td th:text="${user.position}"></td>
        <td th:text="${user.mail_address}"></td>
        <td th:text="${user.register_date}"></td>
        <td th:text="${user.update_date}"></td>
        <td>
          <a th:href="@{/user_info(id=${user.employee_no})}">
            <button type="button">詳細</button>
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
