<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>社員詳細</title>
    <th:block th:replace="~{common/scripts}"></th:block>
  </head>

  <body>
    <header th:replace="~{common/header}">Header</header>
    <div class="container">
      <h2 class="title">社員詳細</h2>
      <div class="container mx-auto" style="width: 400px">
      <div th:if="${message}" th:class="'message-container alert ' + ${alertType}">
      <span th:text="${message}"></span>
      </div>
        <div class="mb-3">
          社員番号:
          <span th:text="${user.employee_no}"></span>
        </div>
        <div class="mb-3">
          氏名:
          <span th:text="${user.name}"></span>
        </div>
        <div class="mb-3">
          氏名(カタカナ):
          <span th:text="${user.name_kana}"></span>
        </div>
        <div class="mb-3">
          所属部署:
          <span th:text="${user.department}"></span>
        </div>
        <div class="mb-3">
          電話番号:
          <span th:text="${user.tel_no}"></span>
        </div>
        <div class="mb-3">
          メールアドレス:
          <span th:text="${user.mail_address}"></span>
        </div>
        <div class="mb-3">
          年齢:
          <span th:text="${user.age}"></span>
        </div>
        <div class="mb-3">
          性別:
          <span
            th:text="${user.gender == '1' ? '女' : (user.gender == '0' ? '男' : '無回答')}"></span>
        </div>
        <div class="mb-3">
          役職:
          <span th:text="${user.position}"></span>
        </div>
        <div class="mb-3">
          登録日:
          <span th:text="${user.register_date}"></span>
        </div>
        <div class="mb-3">
          更新日:
          <span th:text="${user.update_date}"></span>
        </div>
        <div class="mb-3">
          退職日:
          <span
            th:text="${user.retire_date}"
            th:hidden="${user.retire_date}=='0000-00-00'"></span>
        </div>
        <div class="mb-3">
          アカウント権限:
          <span th:text="${user.account_level}"></span>
        </div>

        <div class="form-group">
          <a th:href="@{/user_list}" class="btn btn-outline-primary">戻る</a>
          <a
            th:href="@{/user_edit(id=${user.employee_no})}"
            class="btn btn-primary">
            編集
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
